.painterGridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
}

.painterDrawZone {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
}

.controlZone {
  background-color: rgba(157, 166, 178, 0.5);
  border-left: 2px solid grey;
}

.palleteInstrument {
  display: inline-flex;
  justify-content: stretch;
  padding: 10px;
}

.neuralControlPanel {
  display: block;
  border-top: 2px solid grey;
  padding: 10px;
}